@model FrontEnd.Models.UserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<head>
    <meta charset="utf-8">
    <title>Página de Acceso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/css/style.css" rel="stylesheet">

    <style>
        /* Estilos personalizados */
        body, html {
            height: 100%;
            margin: 0;
        }

        .pagina-login {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-bottom: 50px;
        }

        .caja-login {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .footer {
            padding: 20px;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<hr />
<div class="container">
    <div class="pagina-login">
        <div class="caja-login">
            <form asp-action="Login">
                @Html.HiddenFor(Model => Model.ReturnUrl)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @ViewBag.Message
                <div class="form-group">
                    <input type="submit" value="Acceder" class="btn btn-primary" />
                </div>
                <p class="mensaje">
                    ¿No tienes una cuenta?
                    @Html.ActionLink("Crea tu Cuenta", "Register", "Account", new { area = "" }, new { @class = "waves-effect waves-dark" })
                </p>
            </form>
        </div>
    </div>
</div>